@model TP4.Models.PlazoFijo

@{
    ViewData["Title"] = "Create";
}

<h1>Plazo Fijo</h1>

<h4>Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Seleccione la cuenta de retiro: </label>
                <select name="cbu" class="form-control" asp-items="ViewBag._cbu"></select>
            </div>
            <div class="form-group">
                <label asp-for="_monto" class="control-label"></label>
                <input asp-for="_monto" class="form-control" />
                <span asp-validation-for="_monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                @if (!User.IsInRole("True")) //El admin puede vencer el plazo fijo
                {
                    <label asp-for="_fechaIni" class="control-label"></label>
                    <input asp-for="_fechaIni" readonly value=@DateTime.Now.ToString("yyyy-MM-ddThh:mm") class="form-control" />
                    <span asp-validation-for="_fechaIni" class="text-danger"></span>
                }
                else
                {
                    <label asp-for="_fechaIni" class="control-label"></label>
                    <input asp-for="_fechaIni" class="form-control" />
                    <span asp-validation-for="_fechaIni" class="text-danger"></span>
                }

            
            </div>

            <div class="form-group">
                <label asp-for="_fechaFin" class="control-label"></label>
                @if (!User.IsInRole("True")) //El admin puede vencer el plazo fijo
                {

                    <input asp-for="_fechaFin" class="form-control" min="@DateTime.Now.AddDays(31).ToString("yyyy-MM-ddThh:mm")"  />
                }
                else
                {
                    <input asp-for="_fechaFin" class="form-control" />
                }

                <span asp-validation-for="_fechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_tasa" class="control-label"></label>
                <input readonly asp-for="_tasa" value="1.5" class="form-control" />
                <span asp-validation-for="_tasa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" name="id" value="@ViewBag.id" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <span class="text-danger">@ViewBag.mensaje</span>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.id">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
