@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">¡¡Bienvenido al Banco!!</h1>
    <h4 class="display-6">Elija una opción del menú para operar.</h4>
    
</div>
