@model TP4.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Create";
}

<h1>Solicitud de cuenta</h1>

<h4>CajaDeAhorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_cbu" class="control-label">El CBU de us nueva cuenta es: </label>
                <input readonly asp-for="_cbu" value="@ViewBag.nuevo_cbu" class="form-control" />
                <span asp-validation-for="_cbu" class="text-danger"></span>
            </div>
            @if (User.IsInRole("True")) //Solo el admin
            {
            <div class="form-group">
                <label asp-for="_saldo" class="control-label"></label>
                <input asp-for="_saldo" class="form-control" />
                <span asp-validation-for="_saldo" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Solicitar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.id">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
